@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Shrikhand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid red 1px; */
}

:root {
  font-size: 16px;
  font-family: "Fira Code", monospace;
  background-color: #eee;
  color: #eee;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.wrapper > * {
  flex: 0;
}

.slots {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.slot {
  position: relative;
  user-select: none;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  text-align: center;
  background-color: #5100fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.5s ease, box-shadow 1.2s ease;
}

.slot:hover::after {
  position: absolute;
  left: 0;
  top: 4px;
  content: "";
  border-bottom: solid 4px #5100fe;
  width: 100%;
  height: 100%;
}
.slot__key {
  font-size: 3rem;
}

.playing {
  transition: all 0s ease;
  background-color: #a352ff;
  box-shadow: 0 0 1rem #5100fe;
}

.button {
  font-family: inherit;
  background-color: unset;
  color: #5100fe;
  border: unset;
  outline: 2px solid #5100fe;
  font-size: inherit;
  position: relative;
  padding: 1rem 2rem;
}

.button:not(:disabled):hover {
  text-decoration: underline;
}

.button:disabled {
  opacity: 0.2;
}
